@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

.notified-top-bar {
  position: fixed;
  top: 150px;
  left: 95px;
  height: 40px;
  line-height: 40px;
  width: 85%;
  background: #4a497e;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Young Serif', serif;
  font-weight: lighter;
  font-size: 20px;
  border-radius: 10px;
  z-index: 10;
}
.notified-top-bar p {
  padding: 0;
  margin: 0;
  color: #00ff43;
}
.notified-top-bar p a {
  padding: 5px 10px;
  border-radius: 3px;
  background: #FFF;
  color: #1ABC9C;
  font-weight: bold;
  text-decoration: none;
}

@media(max-width: 840px) {
  .notified-top-bar {
    left: 58px;
    font-size: 17px;
    border-radius: 10px;
    z-index: 10;
  }
}


@media(max-width: 680px) {
  .notified-top-bar {
    height: 80px;
  }
}

@media(max-width: 640px) {
  .notified-top-bar {
    visibility: hidden;
  }
}


